.navbar{
    background-color: white;
    
}
.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(73, 185, 174);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: xx-large;
    height: 50px;
    margin-top: -20px;
    
}
.navbar-light .navbar-brand{
    color:white;
    font-weight: 700;
}
/* .navbar-text {
    margin-left: 1000px;
} */

body{
    background-color: rgb(226, 220, 220);"
}
.container{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.container-fluid{
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
}
h1{
    padding-top: 20px;
    padding-left:20px ;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(73, 185, 174);
    font-weight: bold;
    border-bottom: solid rgb(231, 222, 222)
}
.para-1{
    padding-left: 20px;
    margin-top: -30px;
}

h3{
    padding-top: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(73, 185, 174);
    font-weight: 600;
    
}
.card {
    background-color: white;
    padding: 20px;
}
.visualisation_images{
    margin-left: auto;
    margin-right: auto;
}